[2018-02-27 15:34] knownasilya opened #1 "Plugins"
Any plans for promoting a specific plugin pattern for addons that want to provide functionality that isn't in this addon? Like https://github.com/knownasilya/google-maps-markup or an addon that works with `google.maps.Data` as some examples.

[2018-02-28 06:15] GCheung55 opened #3 "Support runtime Google Maps URL configuration"
The Google Maps URL is created at build time. It would be useful to be able to set some of the options, such as language or region, at runtime. E.g. determine the language or region from a user profile.

[2018-02-28 13:35] sandydoo commented on #3
That seems reasonable. I think we can extract the bit that fetches the url from the config and allow you to override it by extending the `googleMapsApi` service.
The only concern I have is that Google Maps is loaded on-demand, as soon as the first `g-map` component is rendered. If generating the url is based on a user model, for example, then depending on how your app is structured, that model may

[2018-02-28 20:04] Matt-Jensen opened #4 "Update Feature Comparison Table"
Great work on this Addon!

You may know me as the reluctant author of [ember-cli-g-maps](https://github.com/Matt-Jensen/ember-cli-g-maps). I just wanted to let you know I've just added a deprecation notice to my addon, which recommends usage of this project instead.  While you may wish to keep the feature comparison table of ember-cli-g-maps, it might also be unnecessary to invite the comparison a

[2018-03-01 14:35] sandydoo commented on #4
Thanks, @Matt-Jensen. I've removed the section entirely and have replaced it with a more reasonable list of features instead.

[2018-03-01 14:35] #4 closed

[2018-03-01 17:35] steveszc opened #5 "Support optional automatic map bounds management"
It would be great if `ember-google-maps` offered a utility for automatically managing the zoom and center of the map based on the components placed the map.

`ember-g-map` offers this feature with it's `markersFitMode` property on the `g-map` component. The markersFitMode parameter can be used instead of, or as an override to, the explicit lat/lng/zoom properties. With `markersFitMode='init'` embe

[2018-03-01 23:37] steveszc opened #6 "Add component(s) for working with Google Maps Data layer"
The google maps Data layer is useful for rendering arbitrary geospatial data onto map in the form of GeoJSON and polygons. It'd be great if `ember-google-maps' provided a components for adding and styling GeoJSON data and polygons.

https://developers.google.com/maps/documentation/javascript/3.exp/reference#Data

[2018-03-05 16:33] sandydoo commented on #6
I haven't had the pleasure of working with the `Data` classes, but I am familiar with GeoJSON. I've had a look at the spec over the weekend and have some ideas I wanted to share.

The `Data` class manages a collection of `Features` - points, lines, polygons, etc. These `Feature`s map one-to-one to GeoJSON types. So essentially, the `data` class lets you load/display GeoJSON or build your own GeoJS

[2018-03-05 17:21] sandydoo commented on #5
`4` I think the `g-map` component is out of the question for this. Its job is to create the map, yield some components and expose a publicAPI. Managing bounds is related to map logic and that's up to the user to figure out and implement according to their own needs. `1, 3` There's just no way we can handle every single bounds-related use case in a way that's worth the effort. It's often more cost/

[2018-03-07 02:12] iwilliams opened #7 "Example error for controls in docs."
At https://ember-google-maps.sandydoo.me/docs/controls the `g.control` example has the position property set to `position="TOP CENTER"` when it should be `position="TOP_CENTER"`. I didn't see a gh-pages branch or anything so reporting this here. Thanks!

[2018-03-07 04:42] sandydoo commented on #7
Thanks, @iwilliams. Fixed 5e18ce0cb3a90c6e543ee0cc67281a699370f869

[2018-03-07 04:42] #7 closed

[2018-03-07 16:07] MartinMalinda opened #8 "Components don't react to changes of lat and lng"
It seems like `g-map` and `g.marker` both do not react to changes of `lat` and `lng`. I guess this might not be wanted in some scenarios, but sometimes it is useful. I guess we could have an observer like this?

[code]

Do you have any idea for some workaround? I tried to extend a marker component, but I am not really sure how to extend a contextual component without losing, well, context.

**Usec

[2018-03-07 16:12] MartinMalinda commented on #8
D'oh, this works via `update _updateComponent`. I had issue elsewhere in my code. :)

[2018-03-07 16:12] #8 closed

[2018-04-21 13:06] erzzo opened #11 "Infowindow issues"
Hey,
I'm using the infowindow attached to around 600 markers and the rendering is horribly slow, when I trie to hide and show one IW.
To boost the rendering, I've created only one IW with the lat, lng of an active item. But now the IW is not properly positioned, like in the example:
![image](https://user-images.githubusercontent.com/886192/39084360-eb940504-4574-11e8-984a-c8c48039f9bc.png)
It shou

[2018-04-21 16:13] sandydoo commented on #11
Would mind sharing some more information:
* your initial code and format of your data
* the version of the Google Maps API you are using? v3.32 or v3.31?

#### Performance

I can't seem replicate your performance issue using 600 markers, so I can't suggest anything without more information.

[code]

#### Using a single `infoWindow`

You could use one `infoWindow` in this case. I haven't investigat

[2018-04-22 10:13] erzzo commented on #11
Thank you for your quick response. It's working now with your help.

And to the performance, the initial code has looked like this:

[code]
Now when I click on the marker, my app freezes and it is taking some time the infowindow will be rendered. With only few markers it worked well.

I didn't used the version prop in the config, it probably loaded the newest version. But I've tried both versions

[2018-04-24 22:30] ylsujata opened #12 "Autocomplete is not restricting to a country"
I am trying to use the autocomplete component and even though I am passing region as 'US' it still returns results from all over the world. As I look further it seems Autocomplete needs to be restricted using componentRestrictions.
eg:-
var options = {
  types: ['(places)'],
  componentRestrictions: {country: 'US'}
};

autocomplete = new google.maps.places.Autocomplete(input, options);

Please can

[2018-04-24 23:25] sandydoo commented on #12
If `componentRestrictions` is a valid option, pass it as an argument. Every argument that isn't whitelisted in the docs (no docs for autocomplete for the moment) is passed to the Google Maps component. Every component in this addon works this way. For example:

[code]

[code]

Check out the docs on contextual components to learn how options are handled.
https://ember-google-maps.sandydoo.me/docs/c

[2018-04-24 23:25] #12 closed

[2018-04-28 02:39] sandydoo commented on #11
Thanks for sending the code. I've had some time to look at this a bit closer and I think I know what's going on.

This addon creates an `options` object from the arguments you pass to `infoWindow`. These options are used to create and update `google.maps.InfoWindow`. Every time an argument (like `isOpen`) changes, the `options` are rebuilt and set using `setOptions`.

There are 2 problems causing

[2018-04-28 22:42] sandydoo commented on #11
@erzzo, 387c71ef39b8a71ddc96116cc926ded7b5c02219 should make your example more viable. I'll push out a release a bit later. Let me know if you get the chance to test out the master branch.

[2018-04-28 22:42] #11 closed

[2018-05-02 17:14] erzzo commented on #11
@sandydoo how do you want me to test it? I only tried to set an isActive flag on the object itself and it worked perfectly fast!

[2018-05-07 21:00] sandydoo commented on #11
Don't worry about it 👍 Glad it works 😁

[2018-05-09 20:13] njmalinga opened #14 "Change in region stops map rendering."
Hi, I'm an ember js developer from South Africa and I really like this addon but it doesn't seem to show the map as soon as I change the region to ZA. Is there a way for it work with ZA or is it not supported?

[2018-05-09 21:07] sandydoo commented on #14
@njmalinga, I can't offer advice if I can't reproduce the issue or at least see the code. It would be nice to see relevant excerpts from your `environment.js` config, relevant sample code, and any error messages you're getting in the browser's console.

The `ZA` region works fine and I have not yet experienced issues with region handling. I would suggest you follow the guide to [getting started](h

[2018-05-09 21:34] njmalinga commented on #14
@sandydoo  below is a snippet of my environment.js

ENV['ember-google-maps'] = {
    key: process.env.GOOGLE_MAPS_API_KEY,
    language: 'en',
    region: 'ZA',
    protocol: 'https',
    version: '3.31',
    libraries: ['geometry', 'places']
  }
I may have not conveyed my message properly. I do not get any errors on my browser console however it just shows a blue screen and not the actual map. So

[2018-05-09 21:59] sandydoo commented on #14
What exactly do you mean by `and alter the lat lng accordingly it works`? Are you sure you're not just in the middle of the ocean in the screenshot? Once again, you can really speed up the process by just posting all the necessary code to replicate this.

As an aside, you don't need to load `libraries: ['geometry', 'places']` unless you actually need those libraries.

[2018-05-09 22:11] njmalinga commented on #14
@sandydoo I'm so sorry for taking up so much of your time already. It turns out my coordinates were incorrect. Thanks once again, sorry I wasted your time over nothing.

[2018-05-09 22:12] njmalinga commented on #14
its loading the map just fine
![image](https://user-images.githubusercontent.com/19988892/39842458-bd4d1f34-53e6-11e8-9fd4-d422b0161153.png)

[2018-05-09 22:16] sandydoo commented on #14
@njmalinga, no problem. Happy you got it sorted out!

[2018-05-09 22:16] #14 closed

[2018-05-11 14:55] ChristopherJohnson25 opened #15 "Google Distance To"
Great add on. One question, does this have 'Distance To' functionality built in?

I'd like to measure the distance to one point from another. Not sure if I missed it on the docs or not, but a point in the right direction would be helpful. Here's some info..

[https://developers.google.com/maps/documentation/distance-matrix/intro](https://developers.google.com/maps/documentation/distance-matrix/int

[2018-05-11 17:09] sandydoo commented on #15
No, but it doesn't have to be built in. This addon provides a `googleMapsApi` service which asynchronously loads the `google.maps` API. So if you wanted to access the `distanceMatrix` service, you would wait for `google` to load and initialise the service.

[code]

You can also use `read` if you need to access `google` often.

[code]

If you want a neater solution, you can explore the code used to

[2018-05-11 17:09] #15 closed

[2018-05-11 18:06] ChristopherJohnson25 commented on #15
Perfect! Will take a look soon and implement, thanks a lot!

[2018-05-14 16:33] ylsujata opened #18 "Setting PlaceTypes for Autocomplete"
Hi,

O am trying to restrict autocomplete to list only allowed types eg:- geocode, addresses etc. How can I pass these values- https://developers.google.com/places/supported_types

Thank you in advance,
Sujata Yellaepeddi

[2018-05-14 22:54] sandydoo commented on #18
Most arguments passed to a component are used as options for the map component. The options for each component are not hardcoded into this addon. [Read the addon docs](https://ember-google-maps.sandydoo.me/docs/components) for more details.

Knowing that, this becomes an exercise in reading the Google Maps documentation. [According to the reference](https://developers.google.com/maps/documentation

[2018-05-14 22:54] #18 closed

[2018-05-14 23:16] ylsujata commented on #18
That seems to be a good solution. Do I need to update the addon? or will it be working in its current state

[2018-06-02 22:55] sandydoo commented on #1
This is now possible with #17. I'll tackle documentation next and perhaps an addon for working with `google.maps.Data`.

[2018-06-02 22:55] #1 closed

[2018-06-02 22:59] sandydoo commented on #5
I've merged #17 which lets you create your own addons. It needs some documentation, but should cover this use-case.

[2018-06-02 22:59] #5 closed

[2018-06-02 23:01] sandydoo commented on #6
I've started working on this behind the scenes using the new addon system (#17). Working out quite well! I'll try to make it public soon.

[2018-06-02 23:01] #6 closed

[2018-06-03 03:37] acorncom commented on #6
@sandydoo one other thing to bear in mind as you work on the data addon. Once there is the ability to draw geojson on a map, the ability to edit said shapes quickly comes up. That was the heart of the question behind @knowasilya’s question about plugins in https://github.com/sandydoo/ember-google-maps/issues/1 Google adds the ability to use a drawing manager and edit feature/polygons, which I thin

[2018-06-04 20:01] jrock2004 opened #22 "Get lat and long for address"
### Complete this checklist before opening an issue

*Please read the documentation before opening an issue*. Once you understand how this addon works, you will find that most problems can be solved by consulting the [Google Maps API reference](https://developers.google.com/maps/documentation/javascript/reference/3.exp/).

* [x] I've read the relevant documentation for this addon on [ember-google-

[2018-06-04 20:57] sandydoo commented on #22
Hey, @jrock2004, providing a bit more context with your question always helps. I can't what you're doing, what you actually want to do or what you're expecting this addon to do for you.

I'm going to assume you have an address you want to geocode and display on a map.

I think the answer to your question is no. I also don't think you need extra addons either. This addon has a `googleMapsApi` servi

[2018-06-04 20:59] #22 closed

[2018-06-06 13:41] jrock2004 commented on #22
@sandydoo So I am trying your example and google is null

[code]

[2018-06-07 01:36] sandydoo commented on #22
I haven't seen any issues with the service in either apps and addons, so I would suggest making sure everything is installed with `ember install ember-google-maps`.

[2018-06-09 21:15] lvl99 commented on #22
I'm attempting the same, however there's no `computedPromise` util helper in the `ember-google-maps` addon.

[2018-06-20 17:23] knownasilya commented on #6
@sandydoo how's that coming along? Any alpha/beta branches?

[2018-07-23 20:46] acorncom opened #27 "Potentially interested in adding Typescript annotations?"
Hey @sandydoo, I've recently started working for another client were we're likely to use your addon there too. That client uses Typescript fairly heavily and might be interested in helping add Typescript annotations to your addon if you're interested. There is a [quest issue to add TypeScript support throughout the Ember.js ecosystem](https://github.com/typed-ember/ember-typings/issues/14) and acc

[2018-08-06 06:56] ivanhueso opened #29 "Draw on Map"
Is there a way to add the Circle or Polygono Search where you draw on the map and it search based on your selection?

[2018-08-12 13:14] sandydoo commented on #29
Sure, but you'll have to implement that yourself in javascript, i.e. there's not built-in end-to-end solution. The `onLoad` hook will be your friend as it returns the instantiated `map` object.

We may be able to provide some built-in drawing tools as a separate addon at some point, see https://github.com/sandydoo/ember-google-maps/issues/1.

[2018-08-13 10:27] sandydoo commented on #27
Yeah, that sounds good @acorncom. Providing type definitions for the public API would be a good start.

[2018-09-05 15:45] ChristopherJohnson25 opened #32 "Difficulty Styling Map"
I'm having difficulty styling my map (similar to how the example rentals project is styled). I'm having trouble finding any specific sections of the docs that deal with styling. Could you point me in the right direction? Happy to contribute to the docs once sorted!

[2018-09-07 21:47] jasonjho opened #33 "Uncaught TypeError: Cannot read property 'LatLng' of undefined"
After following the readme and guide to get started, I am unable to render the most basic component. It seems as if the Google objects are not loaded at the point it's invoked.

In looking at the Google Maps API docs, I see that ```https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap``` includes invoking a callback. Is this handled internally?

I've pretty much taken the exact

[2018-09-07 21:52] acorncom commented on #33
@jasonjho do you have any example code you can share? It's working fine for me in various client apps ...

[2018-09-07 22:12] jasonjho commented on #33
Sure, here's what I have in my `config/environment.js`:

[code]
(note: I've tried specifying different API versions as well)

I have a basic `map.scss` file that I load with the rest of my stylesheets to give me the canvas:

[code]

And finally, a very basic `hbs` component that contains:

[code]

When serving the page that renders this component, I get the following:

[code]

## Environment ##
Em

[2018-09-08 00:48] sandydoo commented on #33
Interesting! The clue here is that it's complaining about `maps` being undefined and not `google`.

https://github.com/sandydoo/ember-google-maps/blob/862a8ec1f0d20aba84a091700fc8a8abe90e6bed/addon/utils/helpers.js#L10

So the culprit is this short-circuit that checks whether we've already loaded the API. I assume `window.google` is not undefined in your case.
https://github.com/sandydoo/ember-goo

[2018-09-08 02:55] #33 closed

[2018-09-08 03:17] #29 closed

[2018-09-18 02:35] repl-soumya-c opened #35 "How to prevent Zoom in or Zoom Out on click"
Probably this is not a bug, more like a question.
I have a map with default lat/lng set while rendering. Now I pan and zoom in and then click on the map. This triggers the click event and I get the new place lat/lng. However map zooms back to initial zoom position displaying the marker at the new place.

I want to retain the zoom level whatever user have set before clicking. @sandydoo Could you pl

[2018-09-18 22:52] sandydoo commented on #35
It _sounds_ like you're modifying the initial `lat`/`lng` coordinates. If you want the current zoom level to persist, you have to set and update the `zoom` level as well, otherwise the default value will be used.

[code]

The map is zooming in and out because you're updating some of the options passed to the map without explicitly updating the `zoom` as well. There's no two-way binding between the

[2018-09-19 04:09] repl-soumya-c commented on #35
Sorry about not adding the code snippet. Thanks for your prompt reply. Issue is resolved by setting zoom.

[2018-09-19 15:10] #35 closed

[2018-10-07 13:48] ChristopherJohnson25 opened #36 "Autcomplete Usage"
Has anyone used the autocomplete component as a standard autocomplete (with dropdown and no map?). There's not much in the docs about how to integrate the autocomplete, so looking for a few examples. Thanks!

[2018-10-08 20:39] sandydoo commented on #36
The autocomplete component is set up to be used with a map. Perhaps we could make a standalone autocomplete and then reuse that in the map version.

For now, you could create your own component. Fetching `google` from the `googleMapsApi` service returns a promise that resolves with the `google` global after the API has initialized. The whole thing would look something like this (_not tested_):

_m

[2018-10-08 20:57] ChristopherJohnson25 commented on #36
Fantastic, thank you!!

[2018-10-15 10:41] #36 closed

[2018-10-17 19:41] acorncom commented on #6
@sandydoo I'm interested in alpha/beta branches here as well 😉

[2018-10-18 13:09] estshy opened #37 "Is it possible to create cluster of custom overlays?"
Documentation propose using custom overlays in place of markers whenever more advances formatting is required. Google provides a few nice solution that are handy to use with map that is based on many markers, ie. https://developers.google.com/maps/documentation/javascript/marker-clustering. Is there anything similar that can be used as replacement for overlays?

[2018-10-19 20:40] acorncom opened #39 "Addon gotcha: instance.on('willDestroyElement') calls too soon"
Hey @sandydoo, I'm back again 😉 I've been building a geoJson setup for a client using an addon that hooks into the addon system. Works great for almost everything I need.

But I'm hitting a snag around `willDestroyElement` and removing items from the main map using an addon and public api. Specifically, in a scenario where I do this:

[code]

Things work great on setup (there's a bunch of hand-wav

[2018-10-19 21:03] acorncom commented on #39
Hmm, on revisiting https://github.com/sandydoo/ember-google-maps/blob/master/index.js#L95, I may be mis-reading things. Would you consider `map` an essential part of what addons will always be passed? Seems somewhat logical ... 😉  If so, I can close everything up here ...

[2018-10-25 15:32] sandydoo commented on #39
@Hey @acorncom, you can indeed rely on components receiving `map`. I want to get rid of the `on` hook, so I might merge your PR. I will eventually get rid of that whole `publicAPI` class though and replace it with straightforward object composition. It'll be easier to convert to typescript too.

[2018-10-25 15:50] sandydoo commented on #37
@estshy, I'm not convinced I implied that you should use overlays instead of clustering 😅
We don't yet have a clustering component, but I think it's worth adding. Going to add this request towards the next release.
You can try following @acorncom suggestions, but there isn't any concrete documentation other than a sample addon implementation.

[2018-10-25 23:42] acorncom commented on #39
Sounds good, will close this then. Thx!

[2018-10-25 23:42] #39 closed

[2018-11-29 16:14] HodofHod opened #42 "No way to get overlay's OverlayView instance (mapComponent)"
While other components expose their `mapComponent` as the `target` of the object passed into event handlers, overlay is the exception, because the `target` is the HTMLElement.

There seems to be no public way to get access to the `OverlayView` class instance for `g-map/overlay` components.

[2018-11-30 12:40] sandydoo commented on #42
@HodofHod, the documentation hasn't been updated to explain this. There is no guarantee that `target` == `mapComponent`. Each event now returns an object with a bunch of useful things: the browser event, the Google Maps version of the event, the event target, the map instance, and the component's `publicAPI`. A map component's `publicAPI` includes the `mapComponent` instance by default.

[code]

[2018-11-30 16:56] HodofHod commented on #42
Ah, that makes sense, thanks!. Should I change this to a documentation issue, or just close it?

[2018-12-17 20:34] alexmasita opened #43 "Addon throws 'Uncaught RangeError: Maximum call stack size exceeded' on new Ember JS App Version 3.6"
### Describe the bug
This addon throws the following error on the chrome browser console when installed and run on the latest ember js release version 3.6:
[code]

### To Reproduce
Just create a brand new Ember JS version 3.6 application and install the addon.  Then simply put a simple map on the application template such as `{{g-map lat="-1.2325835" lng="36.8766528" zoom=17}}` and run the applica

[2018-12-17 23:22] sandydoo commented on #43
@alexmasita, thanks for the report.

Unfortunately, this isn't a bug with `ember-google-maps`. The infinite loop is caused by the array prototype extensions Ember enables by default. There seems to have been a change to the extensions in Ember 3.6 that breaks some code in the Google Maps SDK. It's a bit of a mess. I'll open an issue with Ember to try and get this sorted.

This may take some time t

[2018-12-18 08:21] alexmasita commented on #43
@sandydoo, Thank you for the fast response.  Will await the patch release.  Many thanks.

[2018-12-18 08:21] #43 closed

[2018-12-19 10:57] alexmasita opened #44 "How do I load a utility library like infobox.js without triggerring 'google is not defined' error?"
I have a need of using the following utility library which is actually a more customizable version of google maps infowindows: [infobox.js source](https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js).

I tried adding it the usual way through importing it in the `ember-cli-build` from vendor directory and then adding a new component aptly called `info-box`.

[2018-12-19 15:53] acorncom commented on #44
@alexmasita with this addon, the Google Maps script isn’t loaded until you request it and then returns a promise (see https://github.com/sandydoo/ember-google-maps/blob/master/addon/services/google-maps-api.js) You’ll need to watch the service and make sure the promise has resolved before calling your custom component.

See for a few details on that.

There’s also a recent PR of mine that allows y

[2018-12-20 12:58] michelvermeer opened #45 "Polyline deprecation warning because of _watchedOptions"
### Describe the bug
Using polylines in Ember 3.6 creates a deprecation warning when destroying the component. This is caused by prototype function listener specified in g-map/polyline.js R15: _watchedOptions.

### To Reproduce
1. Add a polyline
{{g.polyline path=map.route geodesic=true strokeColor="#58a5d3" strokeOpacity=0.7 strokeWeight=2}}

2. Navigate to a different page of remove the block co

[2018-12-20 17:42] acorncom commented on #45
Looks like it’s the add/remove observer calls at the top of https://github.com/sandydoo/ember-google-maps/blob/master/addon/mixins/process-options.js

[2018-12-20 17:44] acorncom commented on #42
@HodofHod switching it to a documentation issue would seem to make sense ...

[2018-12-20 17:57] acorncom commented on #44
Skimming the infobox source a little, it looks like you may be hitting problems on this line:

[code]

as that assumes a global `google` that is already loaded. If you manually add a Google Maps script tag to your `index.html` file before your `vendor.js` is loaded do you still see the problem?

As far as the `g.outlet` goes, yes, you are able to pass down the map context to children routes, as wh

[2018-12-23 13:11] alexmasita commented on #44
Dear @acorncom, thanks for your response.

I will try adding a google maps script tag in my index.html to see if the issue goes away.  But would that be the way to resolve this issue given the ember-google-maps addon already somewhat includes the google maps api albeit asynchronously?

About the outlet, it is great that it can pass the context, after all, it is an ember component :).

For an idea

[2019-01-04 15:51] dantistus opened #46 "minZoom and maxZoom only seem to work in options"
### Complete this checklist before opening an issue

*Please read the documentation before opening an issue*. Once you understand how this addon works, you will find that most problems can be solved by consulting the [Google Maps API reference](https://developers.google.com/maps/documentation/javascript/reference/3.exp/).

* [x] I've read the relevant documentation for this addon on [ember-google-

[2019-01-08 20:44] sandydoo commented on #46
@dantistus, I can't seem to replicate this. I've tested both `minZoom` and `maxZoom`, setting the value directly, via a variable and via a computed property.
I don't really have any ideas on what could be wrong. Is that `minZoom` variable you're using in scope in the template? Does the browser console print the value when you add `{{log minZoom}}` in your template?

The example with `minZoom` in t

[2019-01-08 20:44] #42 closed

[2019-01-15 09:14] david-system opened #47 "ember-google-maps update"
Hi Dear

I am David, hope You can help me. I have a "Google Maps JavaScript API warning: RetiredVersion" warning and as said in documentation I changed version: '3.34' to version: '3.35', and update version "ember-google-maps": "^2.1.0". Now I have same warning too, besides that map not open first time before reinit.

Thanks for understanding.

[2019-01-15 11:14] sandydoo commented on #47
@david-system, there are two likely alternatives: either something is wrong with your configuration or you need to restart your ember server after changing the version number.

If you take a look at the [version documentation](https://developers.google.com/maps/documentation/javascript/versions#choosing-a-version-number), `3.34` is a currently supported version. It's likely that you're still loadi

[2019-01-15 11:31] david-system commented on #47
Thanks for answer @sandydoo  ))
I'll try to restart my ember server.

Thanks for everything ))
![google-map](https://user-images.githubusercontent.com/18840163/51177950-98fa7a00-18da-11e9-9859-759374f1ad9a.png)

[2019-01-15 11:52] sandydoo commented on #44
The only safe way of handling this is to delay this line as pointed out by David.
[code]
How you want to do that is up to you, but the best approach would be to modify the utility library. Wrap it in a function or something and call it once `google` is loaded.

For example, you can wait for `google.maps` by using the promise on the `googleMapsApi` service, as pointed out by David.
[code]

You coul

[2019-01-15 11:58] sandydoo commented on #47
No problem. You can actually see that the source of the warning in your screenshot is `@ js?v=3.31...`. Unfortunately,  instead of providing that old version, Google just forcibly returned the latest version instead.

[2019-01-15 11:58] #47 closed

[2019-02-01 18:01] acorncom commented on #44
@alexmasita I just released https://github.com/acorncom/ember-google-maps-outlet which packages up what I'd discussed above. The dummy app is setup to work with a really simple example. We should probably move discussions over there though so we don't clog this issue tracker ... 😉

[2019-02-01 20:13] alexmasita commented on #44
@acorncom.  That is great!  Will check it out and revert.  Sweet.

[2019-02-13 13:52] Dominicbarretto opened #48 "Assertion Failed: You cannot create a component from undefined using the {{component}} helper"
so i m using ember version 3.0.0, so i have used this addon, the markers, overlay etc works fine,
but only issue what i m facing now is when i using this code

{{#g-map lat="51.507568" lng="-0.127762"
  zoom=12
  styles=primaryMapStyle as |g|}}

  {{!-- A manually positioned info window with basic text --}}
  {{g.infoWindow lat=london.lat lng=london.lng
    isOpen=mapTooltipOpen
    content="Simpl

[2019-02-13 14:10] acorncom commented on #48
If you comment out your ember-cli-build lines does it work for you? I’ve found that a little tricky to get right sometimes...

[2019-02-13 14:17] Dominicbarretto commented on #48
yes it works once i comment the ember-cli-build lines, but that means all unwanted componets will also be loaded by the addon

[2019-02-14 06:07] acorncom commented on #48
In a client app on my end, I ended up needing these at one point:

[code]

I'm not sure I **actually** need `infoWindow` but `map-component` looks like it'd be worth trying. Does that fix it for you?

[2019-02-15 12:30] sandydoo commented on #48
I'll have a look at this. I think there's been some sort of mixup with format of the component names (dashed vs camelCase). It's entirely possible that it doesn't work at all. I would suggest removing the whole treeshaking bit from your ember-cli-build file.

Yes, but it's not worth the effort in this case if it doesn't work well.

Yeah, in hindsight the whole treeshaking implementation is far fro

[2019-02-15 12:30] #48 closed

[2019-02-15 12:34] sandydoo opened #49 "Improve treeshaking"
* [x] Fix keys.
* [x] Implement tests.
* [x] Warn when configured incorrectly. We should strive to avoid issues like #59.

[2019-02-15 18:00] AndreJoaquim commented on #49
My two cents: it's an awesome feature to keep! 😄

[2019-02-15 18:15] acorncom commented on #49
I've been a fan myself 😉

[2019-02-20 23:09] acorncom opened #50 "Add some CSS to support printing?"
### Complete this checklist before opening an issue

*Please read the documentation before opening an issue*. Once you understand how this addon works, you will find that most problems can be solved by consulting the [Google Maps API reference](https://developers.google.com/maps/documentation/javascript/reference/3.exp/).

* [x] I've read the relevant documentation for this addon on [ember-google-

[2019-03-03 07:00] sandydoo commented on #46
I'm going to close this now. Feel free to reopen if the issue crops up again.

[2019-03-03 07:00] #46 closed

[2019-03-03 08:19] sandydoo commented on #50
Yeah, I understand.

I am worried about modifying the styling of the tiles. While I don't expect that adding another `position: absolute;` should break anything, the fact that it fixes the printing issues worries me.

The workaround itself is surprisingly simple, so the actual pain is from the difficulty of finding the information.
On the other hand, I expect that most people expect printing to "j

[2019-03-04 03:20] acorncom commented on #50
Yep, that works for me. I wasn't sure the idea of taking the responsibility for messing with the tiles would be appealing 😉 Preferences on how/where we go about adding documentation for it? Seems like an additional page after "Complex UI" would be in order, happy to send in a PR if you want

[2019-03-04 15:58] sandydoo commented on #50
Sure 👍

[2019-03-07 22:59] olegstepura opened #51 "Memory leak introduced by Google Maps"
Hi! This map addons looks amazing and I cannot wait to start using it instead of `ember-g-map`. But some issue that we faced seem to be an issue with this addon as well and I wonder if you are aware of it and maybe have plans on fixing it.

I'm talking about memory leaks which Google Maps produce because there is no proper cleaning after we remove a map from page.
Here is an issue reported to goog

[2019-03-08 13:50] DavidPhilip opened #52 "Overlay component not working in combination with whitelist"
Looks like the -private-api/detect-render component is excluded if you use a whitelist but it's necessary for the overlay component.

[2019-03-08 14:17] DavidPhilip commented on #52
I guess it's just missing in the dependencies here?

https://github.com/sandydoo/ember-google-maps/blob/master/index.js#L31

[2019-03-08 14:22] DavidPhilip commented on #52
#53 PR pending

[2019-03-25 12:21] ashotvardanyan commented on #3
Hi Guys !!
Is this planned to be implemented?

[2019-04-10 17:10] #52 closed

[2019-04-10 20:44] sandydoo commented on #51
Hi @olegstepura,

1. I wasn't aware of this 🤦‍♂️ . I can see a bunch of detached nodes and event listeners that don't get removed. You'd have to load a lot of maps to see a significant impact on the docs website, but I assume this gets worse if you try displaying tons of data. Would you mind sharing how much memory is consumed in your routing scenario? What's the worse case scenario here?

2. No,

[2019-04-11 08:27] olegstepura commented on #51
After I posted original question we started working on a solution to fix this. And we already have a solution we use with `ember-g-map` (we did not migrate to `ember-google-maps`)
1. We have a service for maps. In service we have maps pool (an array). When creating a map we either take one from pool if pool is not empty or create a new one and return it. When component with map is destroyed - it c

[2019-04-11 20:35] sandydoo commented on #51
Thanks, @olegstepura.

I'll give this some thought. In the meantime, I'll keep this open for reference and in case others want to chime in.

[2019-04-16 15:39] nselikoff opened #54 "Overlay documentation suggestion (innerContainerStyle)"
Thanks so much for this addon - I'm in the process of migrating from `ember-g-map` and it's been relatively painless.

For the overlay component, the `innerContainerStyle` is set up nicely for tooltip type content whose anchor is at the bottom middle of the content. However, if you have content that is meant to be centered on the lat/lng (e.g. a user location circle), you need to override `innerCo

[2019-04-20 22:44] #54 closed

[2019-04-20 22:50] sandydoo commented on #54
Thanks, @nselikoff. I've updated the docs 👍

[2019-04-20 22:52] #44 closed

[2019-04-21 00:12] mistahenry opened #56 "onComponentsLoad is invoked twice"
Is it intentional that `onComponentsLoad` is invoked two times? This was not documented nor expected and feels like a bug to me. In `_initMap` in `g-map.js`, the `_waitForComponents` function invokes `onComponentsLoad` and the `afterRender` function which invokes `_waitForComponents` invokes it as well on resolution of the `_waitForComponents` promise:

[code]

[code]
This initially lead to bugs f

[2019-04-21 00:24] sandydoo commented on #56
Thanks for taking the time to write this up, @mistahenry.

Not at all intentional. I believe I've already fixed this in my local branch, but I guess it didn't click in my head that it needed more urgent patching. I'll get it done.

[2019-04-21 00:50] #56 closed

[2019-04-23 11:44] mistahenry commented on #3
@sandydoo This is something I need in my app because I would like to provide the key only at runtime for users who are logged in (since google maps is so expensive now at least reduce the easiness of stealing my key). I'm happy to implement but I thought we could design it first.

Is migrating away from `let src = ENV['ember-google-maps']['src'];` in your opinion a breaking change? I would like to

[2019-04-23 14:56] sandydoo commented on #3
See #57 for a beta implementation.
The idea is that you can override the `buildGoogleMapsUrl` hook and return whatever URL you want.
If you decide to test it out, I'd appreciate feedback.

While I totally understand your reasoning, I would like to discourage people from doing this.
These keys are essentially public and the two most effective ways of preventing abuse are:
1. Not *storing* the keys

[2019-04-30 17:44] fran-worley opened #59 "infowindows not opening"
### Describe the bug
Firstly, thank you so much for building such a lovely api wrapper for google maps, the move from `ember-cli-g-maps` has removed so much code!!

Apologies if I'm missing something basic but I can't seem to get my infowindows to open. I know that the open attribute is being set correctly but for some reason the windows themselves aren't showing.

### To Reproduce
[code]

[code]

[2019-04-30 19:14] sandydoo commented on #59
Hey, @fran-worley.
It's probably the component whitelist `only: ['maker', 'info-window']`. This feature broke at some point (#49) , never had tests, and can be quite fiddly to configure.
I'll cut that bit out from the docs until it's fixed. Sorry for the trouble! I realize how frustrating these issues can be 😞

[2019-04-30 21:11] fran-worley commented on #59
@sandydoo as simple as that!! removed the build config and my info windows started to work!

[2019-04-30 21:11] #59 closed

[2019-05-07 01:38] jayvarner opened #61 "Directions Panel"
Thanks for all the work on this addon. It's fantastic.

As you mention in the docs, getting the bits out of the directions object for a route can be a pain. I'm sure you're aware of the method [setPanel()](https://developers.google.com/maps/documentation/javascript/examples/directions-panel) on the `DirectionsRenderer` that will insert formatted turn by turn instructions into the element passed to

[2019-05-10 13:37] AndreJoaquim commented on #49
@sandydoo Was this issue fixed per https://github.com/sandydoo/ember-google-maps/commit/025e519c116846b8b3301bd6da9e50e33f9657f6?

[2019-05-19 20:32] sandydoo commented on #49
@AndreJoaquim, yes. I won't be publicizing the feature in the docs until I add tests and some sort of method of warning people when they try using a "treeshaken" component.

[2019-06-19 18:26] alexmasita commented on #51
Fantastic addon, this.  And it would be great if it could solve this behind the scenes.  For long lived apps, the solution to the leaking is a must.

[2019-06-20 11:21] alexmasita opened #62 "How to call the g.canvas component and be able to put other components inside it as well as outside?"
Have seen the example of being able to call the canvas component to be able to place other components/mark up outside of the map canvas, but what if you also want other components within the canvas at the same time?

[2019-06-23 13:37] alexmasita commented on #45
I am hitting the same issue when navigation from a route that has the " {{g.directions}}" component.  Have tracked the issue to  https://github.com/sandydoo/ember-google-maps/blob/master/addon/mixins/process-options.js.  Any hope of a resolution soon?

[2019-07-05 11:41] mistahenry opened #63 "performance consequences of component per google-maps construct"
First off, I want to say that this library is a really elegant way to interface with google maps. I love the declarative style. But I'm experiencing serious performance degradation when trying to scale to a growing number of markers which has caused me to temporarily role my own solution. I'd like to discuss what you would be open to in this library when scale becomes an issue (or how we can impro

[2019-07-10 19:23] sandydoo commented on #63
I won't deny that there's nothing to be optimized here, but there are things that are out of my scope. Yes, there is overhead with the component system. Yes, we don't need even half of what components offer. Yes, Ember and Google Maps run separate rendering loops with their own schedulers that fight each other. We can't mess with this part of the equation. Perhaps Ember Octane and its simpler comp

[2019-07-10 23:43] acorncom commented on #63
@mistahenry given that the 1000 marker scenario probably isn't the focus here, maybe you could develop an ember-maps addon that allows the same sort of declarative api for folks who have performance considerations?

`ember-maps-performant-markers` or something like that?

[2019-07-11 07:51] mistahenry commented on #63
Taking 12-15 seconds to transition into my route that shows my map on a Google Pixel 3 more or less forced me to dwell on it ;)

This might be helpful disclaimer in the README. I assumed that I could just enhance this addon to cluster when I had lots of pins, but the current architecture makes that a nonstarter.

[2019-07-11 07:52] mistahenry commented on #63
@acorncom that's the plan with clustering built in.

[2019-07-11 07:52] #63 closed

[2019-07-19 07:08] Windvis commented on #3
Is there anything blocking the merge of PR #57? Anything we can do to help? 😄

[2019-07-23 20:51] IAmJulianAcosta opened #64 "onDirectionsChanged causes a google map error"
### Complete this checklist before opening an issue

*Please read the documentation before opening an issue*. Once you understand how this addon works, you will find that most problems can be solved by consulting the [Google Maps API reference](https://developers.google.com/maps/documentation/javascript/reference/3.exp/).

* [x] I've read the relevant documentation for this addon on [ember-google-

[2019-07-24 13:29] Windvis opened #65 "`in-repo-pin-addon` gets linted when running app tests"
### Complete this checklist before opening an issue

*Please read the documentation before opening an issue*. Once you understand how this addon works, you will find that most problems can be solved by consulting the [Google Maps API reference](https://developers.google.com/maps/documentation/javascript/reference/3.exp/).

* [x] I've read the relevant documentation for this addon on [ember-google-

[2019-07-24 13:55] #65 closed

[2019-07-24 14:54] sandydoo commented on #64
Hi @IAmJulianAcosta,
The event in your code snippet should be called `onDirectionsChanged`, not `onDirectionsChange`. That's likely to be the problem here.

`onDirectionsChange` shouldn't throw errors though. I'll look into it.

[2019-07-24 15:08] Windvis commented on #65
@sandydoo Thanks for the quick follow up. I actually think removing the example in-repo-addon is the real solution. I inspected my vendor.js file, and it looks like the pin component is in there. It doesn't get picked up by ember-google-maps though, so it can't be used.

Maybe a separate example project repo would be better?

[2019-07-24 20:14] IAmJulianAcosta commented on #64
you are right, `onDirectionsChanged` works, thank you

[2019-07-24 20:16] #64 closed

[2019-07-24 21:28] #45 closed

[2019-07-24 21:47] #3 closed

[2019-07-24 22:24] sandydoo opened #66 "Deprecation warning when overriding computed properties"
Should be fixed by #58.

[2019-07-28 08:54] sandydoo commented on #62
Hey @alexmasita,
Do you have an example you could share that uses this? I added a yield in the latest version, but would like to have an idea of what this would be used for. Note that you'd need to set the [noClear](https://developers.google.com/maps/documentation/javascript/reference/map#MapOptions.noClear) option to `true` as well.

[2019-08-02 09:12] Windvis opened #67 "AngleBrackets canvas class problems in ember-google-maps 2.2.1"
We're defining maps using AngleBracket notation. Since the 2.2.1 release classes set through the `class` attribute aren't passed to the canvas div anymore:
[code]

Passing them using `@classNames="h-full w-full"` works though.

I know this functionality wasn't documented before, but it would be nice if attributes could be splat on the div somehow.

[2019-08-07 11:06] sandydoo commented on #67
Thanks, @Windvis. Looks like I got bit by Ember's `class` vs. `classNames` shenanigans. I'll make sure `class` still works.

I'm working towards a full Octane release. That will, of course, splat all of the attributes. 😄

[2019-08-07 14:02] sandydoo commented on #63
@mistahenry, in case you're interested, I've published a test app that I've been using to measure the performance of the markers here. Results will vary based on hardware and dev/production build.

[ember-google-maps-performance-test](https://github.com/sandydoo/ember-google-maps-performance-test)

### Some results

* The simpler Glimmer components drastically cut down setup time. There is still s

[2019-08-07 14:31] #67 closed

[2019-08-07 14:53] #62 closed

[2019-08-14 09:49] Windvis opened #70 "Make it possible to adjust the zIndex of map components"
It would be nice if map components had a zIndex attribute to make it possible to influence the display order. In our app we have a focus state for certain components, but they aren't always displayed on top.

Any suggestions on how you would implement something like that?

[2019-08-15 01:42] claeusdev opened #71 "Is there a way to create boundaries ?"
So i am working with some large data set which has boundary data in the component. I would like to create a boundary around this area? Is that what a polyline does?

[2019-08-15 04:15] acorncom commented on #71
@claeusdev I've used a polyline as a boundary with good success 👍

[2019-08-15 22:18] claeusdev commented on #71
@acorncom I used it works okay but some point in my data doesn't connect... Just wanted to know if that happens... But thanks I managed to make it work... I will try and send a PR for the docs some part I think will be helpful to users.

[2019-08-30 00:20] gilest commented on #50
Was facing a similar problem and found this issue.

Added the CSS workaround inside `@media print {}` in my project. Also included a comment linking the Chromium issue.

I think it's reasonable for users of the addon to maintain this in their own projects. We can hopefully remove it when Chromium is patched.

Thanks for investigating and sharing your findings :)

[2019-09-03 19:08] sredxny opened #72 "Missmatch in documentation related to compatibility"
Hi, I am starting to use this library, however there's a mismatch in the documentation that make some noise. It's about the compatibility as I explain next:

- In [ember-google-maps.sandydoo.me](https://ember-google-maps.sandydoo.me/docs/getting-started) I don't see any section about compatility

- In [the readme in github](https://github.com/sandydoo/ember-google-maps) the compatibility is for Em

[2019-09-03 21:59] acorncom commented on #72
@sredxny given https://github.com/sandydoo/ember-google-maps/commit/cc46b650528a1318e7a8db891b3913805c96e757 seems safe to assume 2.18+

[2019-09-06 12:30] enspandi opened #73 "`didUpdateAttrs` causing unnecessary rerenders"
Regarding https://github.com/emberjs/ember.js/issues/17397

----

... applies to a scenario we currently have.

We experience issues where the `didUpdateAttrs` hook in `g-map` is called very often, even though no params have been changed, but according to the linked issue this is expected behavior. The side effect we experience is that event handlers, like `onZoomchanged` are called very often, ca

[2019-09-06 12:44] enspandi opened #74 "Option to silence build warning when using runtime configuration"
Would be cool to silence the build warning from index.js, when using the runtime configuration (`buildGoogleMapsUrl`).

[2019-09-13 11:35] sandydoo commented on #73
Hi @enspandi!
This sounds horrible. Would you be able to provide a minimal working example of this? I'm specifically interested in two things:
* What are these "any other" cases? Have you traced what exactly is triggering the updates?
* What is your event handler setup like? What does `onZoomchanged` do? Is it updating some value that is then passed as a parameter to a map component?

Also, what v

[2019-09-13 11:39] sandydoo commented on #72
Correct. It'll all sync in the next release.

[2019-09-13 11:39] #72 closed

[2019-09-13 11:39] #71 closed

[2019-09-13 11:42] sandydoo commented on #70
Hi @Windvis!
When you say "map components" are you talking about overlays or other components?

[2019-09-13 12:35] Windvis commented on #70
Also other components. We also render multiple directions and polylines components, which also could use some sort of zIndex tweaking in our app.

[2019-09-13 13:03] sandydoo commented on #70
Doesn't the [zIndex](https://developers.google.com/maps/documentation/javascript/reference/polygon#PolylineOptions.zIndex) option do what you are describing?

[2019-09-13 13:34] Windvis commented on #70
🙈 Looks like it does, yea. I'm not super familiar with the Maps API. Must have missed it the last time I checked the docs 😄.

I mainly opened this issue because of your comment [here](https://github.com/sandydoo/ember-google-maps/pull/55#issuecomment-489862607) which mentioned adding a zIndex option.

[2019-10-04 21:32] #70 closed

[2019-11-20 10:49] Windvis opened #78 "Ember concurrency version"
It looks like the ember concurrency is hard pinned to a specific version. Our dependency lint is failing at the moment, since our app and some addons installed patch versions which aren't compatible with that pinned version.

Is there a reason why the version is pinned, instead of using a range?

[2019-11-20 14:23] #78 closed

[2019-12-03 19:00] LucySuddenly commented on #11
I'm having another infoWindow issue: the isOpen option doesn't seem to be working.

`  {{#g-map lat="39.0986106" lng="-98.6166598" zoom=4 as |g|}}
    {{#each this.model as |provider|}}
      {{#g.marker lat=provider.latlon.[0] lng=provider.latlon.[1] onClick=(action "toggle") as |m|}}
        {{#m.infoWindow isOpen=provider.markerOpen }}
          {{provider.name}}
        {{/m.infoWindow}}

[2019-12-04 16:45] sandydoo commented on #11
Hi @LucySuddenly, would you mind opening a new issue?

[2019-12-04 16:47] sandydoo commented on #66
Fixed since [v3.0.0-beta0](https://github.com/sandydoo/ember-google-maps/tree/v3.0.0-beta.0).

[2019-12-04 19:25] LucySuddenly commented on #11
No problem, thank you!

[2019-12-04 19:27] LucySuddenly opened #83 "InfoWindow not showing"
I'm having an infoWindow issue: the isOpen option doesn't seem to be working. I've verified that the toggle action is properly setting true false, but I can't get the infoWindow to respond

[code]

[2019-12-04 20:14] sandydoo commented on #83
Thanks, @LucySuddenly. Everything looks correct on your end, but you may have stumbled on a bug in the info window implementation. Is your `provider.markerOpen` set to `true` by default?

P.S I had no idea `provider.latlon.[0]` was possible! :astonished:

[2019-12-04 20:20] LucySuddenly commented on #83
markerOpen is set to false by default.

Latlon is a custom property I set after geocoding an address in the model. It's a 2-element array with the values of lat() and lon() from the geocoder response. Did you mean you didn't know you could access array values in a template?

Thank you for looking into this!

[2019-12-04 21:42] sandydoo commented on #83
I've tested the above code and everything opens as expected 🤷‍♂

Could you show snippets of your `model` and `toggle` action?
Have you excluded any components in your `ember-cli-build.js`? Can you get the most basic info window do show at all?

Yeah, I had no idea that syntax was even thing.

[2019-12-04 21:47] LucySuddenly commented on #83
I can't get the infoWindow to display at all. I haven't excluded anything in my ember-cli-build.

[code]
import Controller from '@ember/controller';

export default Controller.extend({
    actions: {
        toggle: function() {
            this.toggleProperty('markerOpen')
        }
    }
});

[2019-12-04 22:13] sandydoo commented on #83
I think I see the problem!

[code]
In your toggle action, you are flipping the value of `this.markerOpen`, where `this` is the controller.

But in your template, you're reading the value of `markerOpen` from the `provider`.

[code]

I assume you want to toggle the `provider` value instead.

[2019-12-04 22:29] LucySuddenly commented on #83
Yes you're absolutely right. I'm a relatively new Ember user. Alright, so when I pass a provider into the toggle action and attempt to update the markerOpen property, I get the following error, which I can find no google results about:

[code]

[code]

[2019-12-04 22:51] sandydoo commented on #83
Yes, you can't directly change the value since you're using it in your template. Ember needs to know that you've changed something. You have several options here:

If `provider` is an EmberObject, it should have the `toggleProperty` method:

[code]

Otherwise, you would use `set`. Here's a snippet from the [Ember guide](https://guides.emberjs.com/release/object-model/classes-and-instances/):

[cod

[2019-12-05 00:00] LucySuddenly commented on #83
That did it! Thank you so much for helping me with an issue unrelated to your very good library!

[2019-12-05 00:06] sandydoo commented on #83
You're very welcome!

[2019-12-05 00:06] #83 closed

[2019-12-09 03:44] ryanholte opened #84 "ember-google-maps on ios webview"
Just wanted to log an issue for any near-term future people trying to use google maps in a ios webview. I ran into an issue where the view would go "brown" or blank. I ended up adding the following css rule:

[code]

This solution was mentioned in this issue:
https://github.com/ionic-team/ionic-native-google-maps/issues/213#issuecomment-490021270

🍻

[2020-01-06 16:16] nselikoff opened #85 "Changelog and release consistency between Github and npm?"
Thanks for this addon, it has been great for our needs! I'm upgrading packages and noticing that yarn is suggesting I update to `3.0.0-beta.1`. But the latest I see in Github releases is `2.2.0`. Also, is there a changelog anywhere so I can get ready for the 3.x upgrade?

[2020-01-11 00:29] sandydoo commented on #85
Thanks, @nselikoff. I've added the missing releases.

The main *public* breaking change has to do with [overlays](https://github.com/sandydoo/ember-google-maps/releases/tag/v3.0.0-beta.0).

If you've written any custom map components, then the internals may need updating. No guide here, other than to copy-paste code from one of the standard components.

[2020-01-11 00:29] #85 closed

[2020-01-11 00:30] #84 closed

[2020-01-11 00:31] #66 closed

[2020-01-12 16:22] nselikoff commented on #85
Awesome, thanks @sandydoo

[2020-01-23 22:11] nselikoff opened #86 "Events not registering for Polyline component (v3.0.0-beta.1)"
### Complete this checklist before opening an issue

*Please read the documentation before opening an issue*. Once you understand how this addon works, you will find that most problems can be solved by consulting the [Google Maps API reference](https://developers.google.com/maps/documentation/javascript/reference/3.exp/).

* [x] I've read the relevant documentation for this addon on [ember-google-

[2020-01-24 15:15] sandydoo commented on #86
Thanks, @nselikoff! Fixed in new [release](https://github.com/sandydoo/ember-google-maps/releases/tag/v3.0.0-beta.2) with bd49ec1d766fbdaf9e254e19ae534d4ba39fde2f.

[2020-01-24 15:15] #86 closed

[2020-01-24 15:38] nselikoff commented on #86
Working well, thanks @sandydoo!

[2020-02-07 17:46] erzzo opened #87 "Set map controls position not working"
Hi,
I've seen that on my actual project the map controlls changed they're position (to the default one).
I played with it on my local machine and couldn't change the [(controls position)](https://ember-google-maps.sandydoo.me/docs/controls). So I've created a blank project with ember `3.15` and ember google maps `3.0.0-beta.2` but with the same result. Can someone test it if it's working or not?

[2020-02-07 20:40] sandydoo commented on #87
Hi, @erzzo,
Yeah, it looks like the map was being created a bit *too* early, before letting Ember update the control position values. Thanks for reporting!

[2020-02-08 08:20] erzzo commented on #87
No problem, thank you.

[2020-02-09 21:58] erzzo commented on #87
@sandydoo I've tried it with `ember 3.15` (the blank project) and it's working. But with my old one, `ember 3.5`, when the app first loads up, the controls having the default location, then when I transition to a another route and come back, the controls will load up with the right position. Could it be dependent on the ember version?

[2020-02-09 23:37] sandydoo commented on #87
That's exactly what I found and fixed. Just checked on `3.4`, `3.5`, `3.6` and `3.15`; couldn't get it to break 🤷‍♂ .

Perhaps there is more going on, but before investigating further, could you double check:
1. Your existing addon is actually using the correct version of the addon `2.2.6` or `3.0.0-beta.3`.
2. Your template has access to the `google` object. So in your controller/component:
[code

[2020-02-10 21:29] erzzo commented on #87
Yeah, I have it implemented like u said. Tried both versions, but it's behaving a litle bit strange. On my old project it's setting the right position only by route transition (tried in application.hbs and a subcomponent)

In my blank project it's working only when I call the map in a route template. When I add it to a subcomponent it's setting the wrong controls position.

![image](https://user-i

[2020-02-10 21:48] sandydoo commented on #87
Okay, but does the component also have access to `google`?

[code]

[2020-02-10 22:06] erzzo commented on #87
My mistake. I've added the code to the controller not in the component... So it's working with the newer ember, but with my `3.5` still no luck.

[2020-02-10 22:16] sandydoo commented on #87
Hard to say what's up with the other project. My best and only guess is that it's still somehow using an older version of the addon 🤷‍♂ `npm install` and make sure to restart `ember`?

[2020-02-11 06:27] erzzo commented on #87
I've tried to remove all packages, then install them. Checked google maps version - looking good, but still doesn't work. I will probably try to update ember and all packages later, hopefully it will resolve the problem, when not I will spend some more time with this problem

[2020-02-25 01:25] jaiivarsson opened #88 "Contextual components in Engines"
I'm not sure if this is a bug or limitation in the way the contextual components are dynamically built.

I have an ember-engine that is using this add-on. I have followed the process of including the add-on as a dependancy following the engines guides. The map loads but doesn't return proper instance of the map for the contextual components. In the host application is works perfectly as expected.

[2020-02-25 03:41] sandydoo commented on #88
Hi @jaiivarsson,

Could you try out this branch https://github.com/sandydoo/ember-google-maps/tree/bug-fix-for-engines?

This should work for your `package.json`:
[code]

[2020-02-25 04:16] jaiivarsson commented on #88
Hi @sandydoo ,

Thanks for the quick reply. Unfortunately it didn't changed anything.

Map is still undefined in the template and none of the contextual components are present.

[2020-02-25 17:14] sandydoo commented on #88
Strange 🤔 . I've never used engines myself and perhaps you're the first to do so with this addon. The thing is, I did manage to replicate your issue and tested the fix on this test repository. I'm making it public in case it helps you narrow down the issue. https://github.com/sandydoo/ember-google-maps-engine-test

I'd like to get this fixed though. It would be nice to know what versions of everyt

[2020-02-25 17:25] sandydoo commented on #88
Okay, I may have replicated it again with the latest ember-cli version.

[2020-02-25 18:23] sandydoo commented on #88
Alright, I believe this should finally fix it for `ember-cli v3.13+`. https://github.com/sandydoo/ember-google-maps/commit/e4cc079fb3a8a2c860080d85cac50cecf0b54b19 .
Let me know if it works for you.

[2020-02-25 20:11] #87 closed

[2020-02-25 20:14] jaiivarsson commented on #88
Yep, that did it. Thank you so much!

In case you're still curious we are running:
- ember-cli 3.15
- ember 3.15
- ember-google-maps 3.0.0-beta.3

[2020-02-25 21:37] sandydoo commented on #88
Thanks for reporting this! New releases published.

[2020-02-25 21:37] #88 closed

[2020-02-27 19:18] nselikoff opened #89 "Clarification on adding classNames to Overlay component"
### Describe the bug
I just tried adding a class to an overlay component with the `classNames` attribute per the [README](https://github.com/sandydoo/ember-google-maps#examples-of-what-to-expect), but the class isn't inserted into the overlay component in the DOM.

### To Reproduce
[code]

Check DOM, `custom-marker` class is not added to the overlay div.

### Expected behaviour
The overlay div has

[2020-03-01 11:57] sandydoo commented on #89
Hi @nselikoff,

You're right, that won't work. I'll fix the README.

This actually wouldn't work out that well.

The way these overlays work is that Google Maps calls the `draw` function using `requestAnimationFrame` whenever it needs to update the position of the overlay.

On each draw, we convert the coordinates to pixels offsets and manually set the style with the calculated transform (going vi

[2020-03-02 13:42] nselikoff commented on #89
Hi @sandydoo,

Thanks for the thorough explanation, that all makes sense.

In my case, I've got overlays representing vehicles on a map whose positions get updated about every 30 seconds. Instead of jumping to the new position I was hoping to take advantage of CSS transitions to smoothly animate to the new position. I hadn't thought about the side effect of staggering while zooming/panning if a tr

[2020-03-02 13:42] #89 closed

[2020-03-26 22:35] erzzo commented on #87
Just for info. After the update to ember 3.17 it started to work

[2020-03-27 21:05] nselikoff opened #90 "Add support for positioning control with index property"
This is a feature request. There's a small part of Google's API for controls that would be nice to have: specifying an index to control the order of the auto-placement algorithm when multiple controls are assigned to the same `google.maps.ControlPosition`.

This would require passing through an `index` attr on `Control` to be set as a property on the component div itself, per https://developers.go

[2020-03-28 15:07] #90 closed

[2020-03-28 15:25] nselikoff commented on #90
Thanks @sandydoo!

[2020-04-27 21:18] knownasilya opened #91 "...attributes not applied to g-map"
Using the latest beta, I can't apply a class like so: `<GMap class='map' @lat='39.113014' @lng='-105.358887' @zoom={{8}} />`.

Looks like `...attributes` isn't added, and the component uses `tagName: ''`.

[2020-04-27 22:57] sandydoo commented on #91
Thanks, @knownasilya 👏. I've pushed out a [fix](https://github.com/sandydoo/ember-google-maps/releases/tag/v3.0.0).

[2020-04-27 22:57] #91 closed

[2020-04-27 23:11] knownasilya commented on #91
Nice!

[2020-04-30 14:27] ianpetzer commented on #51
Just wondering if the code that implements the solution outlined above is available anywhere in a public repo or fork?

[2020-04-30 20:13] olegstepura commented on #51
Hi, @ianpetzer! No, sorry, only in private repo that cannot be shared. The idea was to have a service that manages the maps and reuses instances.

[2020-04-30 20:15] ianpetzer commented on #51
ok.. Well many thanks for the notes on how it can work.

On Thu, Apr 30, 2020 at 10:14 PM Oleg Stepura <notifications@github.com>
wrote:

[2020-05-21 22:54] #49 closed

[2020-05-23 22:25] puramanuj opened #93 "Ember Google Maps loading an empty canvas"
After following the readme and guide to get started, I am unable to render the most basic component. It just renders an empty canvas and I dont see any errors/warnings on the browser console.

In looking at the Google Maps API docs, I see that https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap includes invoking a callback. Is this handled internally?

I've pretty much taken

[2020-05-23 22:46] sandydoo commented on #93
@puramanuj, in Octane, arguments are specified with an `@`. What your code does is set `lat`, `lng`, and `zoom` as html attributes.

[code]

More info:
https://guides.emberjs.com/release/components/component-arguments-and-html-attributes/

[2020-05-24 20:39] puramanuj commented on #93
Hi @sandydoo thanks for the quick update that did work by just adding @, I am still learning Ember Octane,

[2020-05-24 20:39] #93 closed

[2020-05-31 07:42] sandydoo commented on #74
Added as of [v3.0.3](https://github.com/sandydoo/ember-google-maps/releases/tag/v3.0.3). No need to change anything on your end.

[2020-05-31 07:42] #74 closed

[2020-05-31 07:44] sandydoo commented on #73
Closing this. I'm converting the addon to Octane and there will be a more nuanced check of the arguments when updating components 👍

[2020-05-31 07:44] #73 closed

[2020-05-31 07:50] sandydoo commented on #50
Closing this, as it's more of a Google Maps issues. I think this issue has enough "searchability" to be useful by itself 😄

[2020-05-31 07:50] #50 closed

[2020-05-31 07:51] #51 closed

[2020-06-05 14:58] synaptiko opened #94 "ember-google-maps specifies an invalid, malformed or missing addon at relative path 'lib/in-repo-pin-addon'"
### Complete this checklist before opening an issue

*Please read the documentation before opening an issue*. Once you understand how this addon works, you will find that most problems can be solved by consulting the [Google Maps API reference](https://developers.google.com/maps/documentation/javascript/reference/3.exp/).

* [x] I've read the relevant documentation for this addon on [ember-google-

[2020-06-05 15:05] sandydoo commented on #94
Hi, @synaptiko, could you tell me what version you're using? Also, more importantly, which versions of ember and ember-cli?

[2020-06-05 15:18] sandydoo commented on #94
Ah, nevermind, I know what the problem is. Thanks for reporting, I'll make a new release 👍

[2020-06-05 17:47] sandydoo commented on #94
Fixed in [v3.0.4](https://github.com/sandydoo/ember-google-maps/releases/tag/v3.0.4).

[2020-06-05 17:47] #94 closed

[2020-07-07 02:56] AliceMakk opened #95 "Array of marker options"
Hello there,

That's probably not a bug, but I can't figure out, how would I be able to pass an object to the label property of the marker in my template please?

I have a getter in my component which returns a simple object like `{text: '123', color: 'white'}`, but that gives me an error in the browser `InvalidValueError: setLabel: not a string; and no text property`

[2020-07-07 03:10] AliceMakk commented on #95
Sorry, not an issue anymore, there were some bad data. :)

[2020-07-07 03:10] #95 closed

[2020-07-23 05:39] bgolla opened #96 "Issue with packaging addon-test-support"
### Describe the bug
- addon-test-support folder missing on upgrading to 3.0.x version
- But when I use tag in my `package.json` it's working fine

  "ember-google-maps": "https://github.com/sandydoo/ember-google-maps.git#v3.0.5",

### To Reproduce
- Write acceptance tests in v2.2.7

- Upgrade ember-google-maps to 3.0.0 or above

         "ember-google-maps": "^3.0.5",

### Expected behaviour
- `n

[2020-07-23 10:41] #96 closed

[2020-07-23 10:45] sandydoo commented on #96
Thanks, @bgolla! New release is out.

[2020-07-28 17:39] sandydoo commented on #61
Thank you! I'm truly sorry this took so long. No excuses, I just kept delaying this to my backlog. 😞

Actually, I had no idea 😄.

I think the answer would be no. Don't get me wrong, what you're proposing is _totally fine,_ just not in the context of an addon. As an addon maintainer, I don't want to bear the responsibility of grabbing a remote element from the user space and messing with it. It see

[2020-07-28 17:39] #61 closed

[2020-08-22 12:33] basz opened #98 "The use of the private {{-in-element}} is deprecated"
With ember 3.20 (possibly earlier) I'm getting a deprecation warning

[code]

due to

`https://github.com/sandydoo/ember-google-maps/blob/main/addon/templates/components/g-map/overlay.hbs#L2`

[2020-08-24 13:57] sandydoo commented on #98
Thanks, @basz! [I've upgrade to addon to use the new public `in-element`.](https://github.com/sandydoo/ember-google-maps/releases/tag/v3.2.0)

[2020-08-24 13:58] #98 closed

[2020-11-25 12:38] riklaunim opened #99 "Autocomplete stops working on subsequent route visits"
I'm using Google maps with autocomplete on one route and if I go out to some other higher route and then go back the map is back again as it should be but the autocomplete events seems to not fire when I type the address. Looking at the DOM shows that there is no cleanup done:

https://i.imgur.com/BHBFZl7.png

There will be a "pac-container" for every entry to that route and the DIV will persist.

[2020-11-25 15:05] sandydoo commented on #99
Hi, @riklaunim!
Would you mind posting a reproduction of your issue? I can't seem to reproduce what you're describing.

Regarding the `pac-container`s, there's still no official way of cleaning them up. Not much I can do about that, unfortunately.

[2020-11-25 15:22] riklaunim commented on #99
I have it as a part of bigger app but it looks like so:

[code]
If I go from / to step1 it works fine, but if I use a transition to / from step1 and then back to step1 it does not (standard ember route actions and transitions).

The "step1" has a form and the map

[code]

The component handles the map and blocks/unblock form fields when address is given (that's not related to the autocomplete stuf

[2020-11-25 16:09] sandydoo commented on #99
Try running `registerGoogleAutocomplete` using the `onLoad` hook on the map.

[code]

[2020-11-28 01:43] sandydoo commented on #99
I've released a beta version that improves the way the optional `canvas` component works. It might fix your situation for now.

[code]

This is essentially a race condition. You're trying to fetch a DOM element that might or might not be rendered. The fix in the beta version removes a second render pass, which unfortunately recreated your input field after the autocomplete was created.

In general

[2020-11-28 01:55] riklaunim commented on #99
Will check it out.

[2020-11-30 14:03] riklaunim commented on #99
I've use the new version (and used didInsertElement) and it works now. Thanks for the help.

[2020-12-01 14:29] sandydoo commented on #99
Thanks for reporting this, @riklaunim!

[2020-12-01 14:29] #99 closed

[2021-02-26 17:24] knownasilya opened #100 "Glimmer components"
I'd love to see this updated to use glimmer components to speed things up, especially when rendering many markers.

[2021-02-26 19:47] sandydoo commented on #100
It’s coming 😉

[2021-03-18 15:58] davideferre opened #101 "Upgrade ember-concurrency to version 2.x"
I've problems using the new ember-concurrency task modifiers as you can see in [this issue](https://github.com/machty/ember-concurrency/issues/416).
Is it possible to upgrade the `ember-concurrency` dependency to 2.x version?

[2021-03-18 17:33] #101 closed

[2021-03-18 17:48] sandydoo commented on #101
Thanks for letting me know, @davideferre! Version `3.3.1` should resolve the issue for you.

[2021-03-19 08:39] davideferre commented on #101
Thank you so much, I'll try the new version today.

[2021-04-23 22:49] sandydoo opened #102 "Versions of modifier manager capabilities prior to 3.22 have been deprecated."
You’ll see this deprecation notice if you’re on Ember 3.26+. Nothing I can do about it.

Relevant PRs/issues/comments to watch:

- https://github.com/emberjs/ember-render-modifiers/pull/33
- https://github.com/ember-modifier/ember-modifier/pull/63
- https://github.com/ember-modifier/ember-modifier/pull/63#issuecomment-815908201

[2021-04-28 21:49] sandydoo commented on #100
This took much, _much_ too long, but, as of `4.0.0-beta.4`, the addon’s been completely converted to Octane. I haven’t done any comparison tests, but everything feels very snappy. [Panning around in the rentals example](https://ember-google-maps.sandydoo.me/examples/sweet-rentals/) (with the markers and listings constantly being replaced) is surpisingly fluid.

There are few things left to do, lik

[2021-04-29 01:40] knownasilya commented on #100
Will give it a go tomorrow

[2021-04-30 15:09] knownasilya commented on #100
Got this on build, looks like i might need to update something?

[code]

[2021-04-30 15:13] knownasilya commented on #100
Maybe you need to use Ember global to access backburner?

[2021-05-01 12:06] sandydoo commented on #100
Oh, thanks! I’ll look into it. Weird that the tests pass…

[2021-05-01 22:31] sandydoo commented on #100
@knownasilya, turns out it’s because you have a slightly older version of `babel-plugin-ember-modules-api-polyfill`. I’ve set the minimum version we need as a dependency in `4.0.0-beta.6`. 😅

[2021-05-03 15:32] knownasilya commented on #100
Hum, the new version still has the same issue.

[2021-05-04 02:06] sandydoo commented on #100
I imagine upgrading your app’s dependencies should do the trick. `yarn upgrade` or `npm update`. If some older dependency is holding back the upgrade, then a `yarn why babel-plugin-ember-modules-api-polyfill` /`npm explain babel-plugin-ember-modules-api-polyfill` should show what’s going on.

Not sure what else I can do on my end. I can’t use the Ember global because it’s deprecated in `3.27`, and

[2021-05-04 04:02] knownasilya commented on #100
Will try that

[2021-05-04 18:46] knownasilya commented on #100
So unfortunately almost every addon has this via `ember-cli-babel`, and each has a different version.

[2021-05-05 14:47] sandydoo commented on #100
Yeah, that’s understandable. I think the one that matters is the version used by _your_ version of `ember-cli-babel`. So a `yarn upgrade` / `npm update` didn’t work, right?

[2021-05-06 15:15] knownasilya commented on #100
Working now. Might need to specify in the docs the minimum version of ember-cli-babel and the need to do an upgrade/update as part of migration.

[2021-05-29 21:29] #102 closed

[2021-06-15 02:02] sandydoo commented on #100
Landed in https://github.com/sandydoo/ember-google-maps/releases/tag/v4.0.0.

[2021-06-15 02:02] #100 closed

[2021-07-20 14:52] eelke opened #120 "Breaking change regarding @lng @lat"
After upgrading from 3.0.3 to 4.0.1 none of my maps worked, throwing hard-to-debug issues:

``` Uncaught (in promise) TypeError: proxy set handler returned false for property '"center"'```, referring g-map.js line 81.

Turns out that while previously the `@lng` and `@lat` were _not_ required in order to render a map,  as of 4.0.0 they _are_ required.

I think the documentation should reflect this

[2021-07-20 15:43] sandydoo commented on #120
Hi, @eelke

`@lat` and `@lng` are an optional alternative to `center`, but that doesn't mean that the addon ever officially supported using the map without any coordinates. [The docs are reasonably clear about this ](https://ember-google-maps.sandydoo.me/docs/map): `The only required arguments are the coordinates for the center.`

I guess `center` could be optional, since Google Maps doesn't care.

[2021-07-20 17:08] #120 closed

[2021-07-20 17:20] sandydoo commented on #120
@eelke, [I've released v4.1.0](https://github.com/sandydoo/ember-google-maps/releases/tag/v4.1.0) with a fix for your issue

[2021-07-20 17:29] sandydoo opened #122 "Canary tests failing because of `@ember/test-helpers`"
Link to PR: https://github.com/emberjs/ember-test-helpers/issues/1068

[2021-07-21 08:03] eelke commented on #120
Fantastic @sandydoo! Thank you for your continued work, it is much appreciated!

[2021-07-22 09:51] lolmaus commented on #37
I have looked into clusterizing vanilla markers (not custom overlays), and turns out that adding this feature to the addon is quite challenging.

I doubt that it can be done with an ember-google-maps-addon without heavily modifying the core addon:

* the clusterer has to be initialized on the map level;
* the markers must have a reference to the clusterer;
* lots of options must be exposed to allo

[2021-07-22 09:52] lolmaus commented on #37
PS Just noticed this thread is two and a half years old! 🙀

[2021-07-24 12:29] sandydoo commented on #37
https://github.com/sandydoo/ember-google-maps-markerclustererplus is almost ready. Should be plug-n-play with ember-google-maps 🤞

AFAIK there is no ready-made solution for this. I reckon the clustering library will likely accept an overlay view that mimics a marker. But don't quote me on that.

This feature is out of the scope of this addon, unless someone is generous enough to fund it.

[2021-07-24 12:29] #37 closed

[2021-07-27 16:16] #122 closed

[2021-07-27 23:04] glbatistabh opened #130 "Error: Could not find module `@ember/test-waiters` imported from `ember-google-maps/component-managers/map-component-manager`"
Hi.
I created an empty ember project and followed the instructions on the site "https://ember-google-maps.sandydoo.me/docs/getting-started". But this one is wrong. Can you help me?

**step-by-step:**

1) `shell>ember new test-google-maps`
---
2) `shell>cd test-google-maps/`
---
3) `shell>ember install ember-google-maps`
---
4) `shell>edit config/environment.js`
![image](https://user-images.githubu

[2021-07-27 23:28] #130 closed

[2021-07-27 23:35] sandydoo commented on #130
Thanks, @glbatistabh. I've released [v4.2.2](https://github.com/sandydoo/ember-google-maps/releases/tag/v4.2.2) with a fix.
I'd recommend using a newer version of ember & ember-cli though!

[2021-07-28 00:22] glbatistabh commented on #130
Thank you! Solved the problem...

[2021-07-29 07:22] sinankeskin opened #132 "pauseTestForIdle function causes tests failing with timeout"
Hi. Thank you for this great addon.

With latest version, on **test** environment this function never resolves and in our case, some of our tests are failing with timeout.

https://github.com/sandydoo/ember-google-maps/blob/b18c3ab6fda1b34f64cd210ca9133485714def94/addon/components/g-map.js#L98

If I remove this function and invokes in your code, tests are starting to pass but I'm seeing warnings t

[2021-07-29 09:41] sandydoo commented on #132
Hi, @sinankeskin, could you share an example of one of your failing tests? Or a reproduction?

[2021-07-29 09:57] sinankeskin commented on #132
I don't think I can share an example but I'll try to fix and create a PR when I have a free time @sandydoo

Thanks.

[2021-07-29 10:25] sandydoo commented on #132
Alright, but keep in mind that I can't merge a PR unless the issue it's fixing can be reproduced.

[2021-07-29 10:27] sandydoo opened #133 "Add section about testing to docs"
- [x] document integration testing using `setupMapTest`
- [x] document acceptance testing

[2021-07-30 17:04] sinankeskin commented on #132
I found the issue.

We're also using [ember-place-autocomplete](https://github.com/dmuneras/ember-place-autocomplete) and your addon and this addon uses different techniques to load google maps js file and this creates a problem but I can confirm this problem is ember-place-autocomplete's problem.

Thank you again for this great addon @sandydoo

[2021-07-30 17:04] #132 closed

[2021-09-08 14:04] #133 closed

[2021-11-03 11:12] sandydoo opened #155 "Convert to addon v2 format"

[2021-12-03 09:26] eelke opened #164 "Maps in demo page do not work currently"
None of the maps on the [demo site](https://ember-google-maps.sandydoo.me/docs/map/) seem to work.
Tested on Mac & iOS, on Firefox, Chrome and Safari.

I noticed you've switched to Embroider, as indicated by the chunk js and your [issue](https://github.com/sandydoo/ember-google-maps/issues/155) to convert to v2 addon. I previously also tried compiling my app (which uses ember-google-maps) with Emb

[2021-12-03 16:56] #164 closed

[2021-12-03 16:59] sandydoo commented on #164
Thank you, @eelke! I’ve redeployed the docs.

Embroider has gotten much better lately. I use the doc app as a final embroider integration test for this addon because the dummy test app is far from a normal app and, therefore, completely unreliable. It’s actually prember that’s causing issues.

[2021-12-20 09:43] sandydoo opened #166 "There are error messages in CI"
- [x] `unexpectedly found "\n    " when slicing source, but expected "class"`
	Is this coming from `ember-cli-htmlbars`? Is this related to their recent fix allowing console messages to come through?
	It sounds like it’s related to AST processing (which we also do), so maybe we have an issue somewhere there.

	Tracking: https://github.com/emberjs/ember.js/issues/19392

- [x] Errors when cleaning u

[2022-02-09 18:22] tdwesten commented on #27
Yeah! This would be great!